<section class="content-header">
    <h1>
        Cập nhật danh mục
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#">Bài đăng</a></li>
        <li ui-sref="product_categories">Danh mục</li>
        <li class="active">Cập nhật</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <!-- Default box -->
        <div class="box-header with-border">
            <h3 class="box-title">Danh mục : {{postCategory.Name}}</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate role="form" name="frmUpdatePostCategory" ng-submit="UpdatePostCategory()">
            <div class="box-body">
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label">Tên danh mục</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" required ng-maxlength="256" ng-change="GetSeoTitle()" name="name" ng-model="postCategory.Name">
                        </div>
                        <div class="col-sm-1">
                            <span ng-show="frmUpdatePostCategory.name.$invalid || frmUpdatePostCategory.name.$error.maxlength " title="Phải nhập tên danh mục.&#013;Tên danh mục chỉ được 256 ký tự." class="has-error">(*)</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label">Tiêu đề SEO</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="alias" required ng-model="postCategory.Alias">
                        </div>
                        <div class="col-sm-1">
                            <span ng-show="frmUpdatePostCategory.alias.$invalid" title="Phải nhập tiêu đề SEO." class="has-error">(*)</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label">Thứ tự</label>
                        <div class="col-sm-8">
                            <input type="number" min="0" class="form-control" required name="displayOrder" ng-model="postCategory.DisplayOrder">
                        </div>
                        <div class="col-sm-1">
                            <span ng-show="frmUpdatePostCategory.displayOrder.$invalid" title="Phải nhập số thứ tự." class="has-error">(*)</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label">Danh mục cha</label>
                        <div class="col-sm-8">
                            <select name="parentId" class="form-control" ng-model="postCategory.ParentID" ng-options="option.ID as option.Name for option in parentCategories">
                                <option value="">Danh mục gốc</option>
                            </select>
                            <input type="hidden" class="form-control" name="parentId" ng-model="postCategory.ParentID" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label">Hình ảnh</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="image" ng-maxlength="256" ng-model="postCategory.Image">
                        </div>
                        <div class="col-sm-1">
                            <span ng-show="frmUpdatePostCategory.image.$error.maxlength " title="Hình ảnh chỉ được 256 ký tự." class="has-error">(*)</span>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label">Meta Keyword</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-maxlength="256" name="metaKeyword" ng-model="postCategory.MetaKeyword">
                        </div>
                        <div class="col-sm-1">
                            <span ng-show="frmUpdatePostCategory.metaKeyword.$error.maxlength " title="Meta keyword chỉ được 256 ký tự." class="has-error">(*)</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label">Mô tả ngắn</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" name="description" ng-maxlength="500" ng-model="postCategory.Description" style="resize: vertical;"></textarea>
                        </div>
                        <div class="col-sm-1">
                            <span ng-show="frmUpdatePostCategory.description.$error.maxlength " title="Mô tả chỉ được 500 ký tự." class="has-error">(*)</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label">Meta Description</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" name="metaDescription" ng-maxlength="256" ng-model="postCategory.MetaDescription" style="resize: vertical;"></textarea>
                        </div>
                        <div class="col-sm-1">
                            <span ng-show="frmUpdatePostCategory.metaDescription.$error.maxlength " title="Meta description chỉ được 256 ký tự." class="has-error">(*)</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <input type="checkbox" name="status" ng-model="postCategory.Status" ng-checked="postCategory.Status"> Kích hoạt
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <input type="checkbox" name="homeFlag" ng-model="postCategory.HomeFlag" ng-checked="postCategory.HomeFlag"> Hiển thị trang chủ
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button ui-sref="product_categories" class="btn btn-default">Hủy</button>
                <button class="btn btn-info pull-right" ng-disabled="frmUpdatePostCategory.$invalid">Thêm mới</button>
            </div>
            <!-- /.box-footer -->
        </form>
        <!-- /.box -->
    </div>
</section>
<!-- /.content -->